# Compiled Object files
*.slo
*.lo
*.o
*.obj
/src/*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# CBLCKS files
*.cbp
*.depend
*.layout
./LTN

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac compilation
.idea/

LTN/LTN
